body {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 14px;
	line-height: 18px;
	background: #f8f8f8;
}

* {
	margin: 0;
	padding: 0;
}

.card {
	background: #fdfdfd;
	position: absolute;
	width: 16em;
	min-height: 10em;
	border: 1px solid #aaa;
	top: 20px;
	left: 20px;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0px 1px 4px #aaa;
}

.card h1 {
	font-size: 1em;
	font-weight: 600;
}

.card p {
	cursor: pointer;
}
